* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(110, 217, 233);
}

header{
  margin: 30px;
}

.container{
  width: 560px;
  margin:0 auto;
}

.title h1{
  text-align: center;
}

.card_row1{
  margin:0 auto;
}

div .card{
  display: inline-block;
  width: 120px;
  height: 130px;
  background-color: red;
  margin: 15px 8px;
  border-radius: 10px;
}
